{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}

<div class="dashboard-intro">
    <div>
        <div class="dashboard-intro-title">
            Bienvenue sur le backoffice FAGNI
        </div>
        <div class="dashboard-intro-sub">
            Utilise la liste des applications ci-dessous pour gérer les commandes, clients, partenaires et le MLM.
        </div>
    </div>
</div>

<div id="content-main">
    {% if app_list %}
        {% for app in app_list %}
            <div class="module">
                <h2>{{ app.name }}</h2>
                <table>
                    <tbody>
                    {% for model in app.models %}
                        <tr>
                            <th scope="row">
                                {% if model.admin_url %}
                                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                {% else %}
                                    {{ model.name }}
                                {% endif %}
                            </th>
                            <td>
                                {% if model.add_url %}
                                    <a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td>
                                {% if model.admin_url %}
                                    <a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p>{% translate "You don't have permission to view or edit anything." %}</p>
    {% endif %}
</div>

{% endblock content %}
